<!-- <nav>
  <ul class="nav">
    <a [routerLink]="['home']">Inicio</a>
   <a [routerLink]="['datos']">Datos</a>
    <a [routerLink]="['portafolio']">Portafolio</a>
    <a [routerLink]="['contacto']">Contacto</a>
  </ul>
</nav> -->
<div class="navbar">
  <a [routerLink]="['home']">	<mat-icon>home</mat-icon>Inicio</a>
  <a [routerLink]="['datos']">	<mat-icon>description</mat-icon>Datos</a>
   <a [routerLink]="['contacto']">	<mat-icon>question_answer</mat-icon>Contacto</a>
   <a [routerLink]="['agenda']"><mat-icon>supervisor_account</mat-icon>Agenda</a>
</div>