<div id="contenedor">
  <!---------------------Educacion---------------------->
  <div id="educacion">
    <h2>Educacion<hr></h2>
    <p class="lugar">CAPACITACION EN DESARROLLO DE APLICACIONES WEB</p>
    <p>Solaning Capacitacion (2022-presente)</p>

    <p class="lugar">SECUNDARIA</p>
    <p>Republica de Venezuela(2019-2014)</p>

    <p class="lugar">PRIMARIA</p>
    <p>Jose Gabriel de Gumucio (2013-2008)</p>
    
  </div>
  <div class="caja"></div>

  <!---------------------COMPETENCIAS---------------------->
  <div class="fondo">
    <div id="competencias" class="curriculum">
      <h2>Competencias<hr class="linea-morada"></h2>
      <ul>
        <li>Adaptabilidad</li>
        <li>Manejo del lenguaje de programacion JAVA</li>
        <li>Capacidad de trabajar en equipo</li>
        <li>Conocimiento en el manejo de Word y PowerPoint</li>
        <li>Manejo del estres</li>
      </ul>
    </div>
  </div>


  <!-- ---------------EDUCACION COMPLEMENTARIA--------------->
  <div class="">
    <div class="caja-2"></div>
    <div id="complementaria" class="curriculum">

      <h2>Educacion Complementaria
        <hr>
      </h2>

      <p class="lugar">WEBINAR "HACIA UNA MENTALIDAD EMPRENDEDORA"</p>
      <p>Universidad Mayor de San Simon (2022)<br> Duracion: 2 horas</p>

      <p class="lugar">WEBINAR "ADMINISTRACION DE TIEMPO"</p>
      <p>Educacion Biz (2021) <br> Duracion: 2 horas</p>

      <p class="lugar">WEBINAR "COMO AFRONTAR EL COVID-19 EN EL HOGAR"</p>
      <p>Universidad Mayor de San Simon (2021) <br>Duracion: 40 horas</p>
    </div>
  </div>

  <!-- ------------------IDIOMAS------------------ -->
  <div class="caja"></div>
  <div class="fondo">
    <div id="idiomas" class="curriculum idiomas">

      <h2>Idiomas
        <hr class="linea-morada">
      </h2>
      <!----------Contenido de idiomas------------->
      <!-- <p>
        <img src="../../../assets/img/" alt="bandera de EEUU" class="bandera">
        <b>Ingles:</b> Basico
      </p>
      <p>
        <img src="../../../assets/img/bolivia.png" alt="Bandera de Bolivia" class="bandera">
        <b>Español:</b> Nativo
      </p> -->
    </div>

  </div>
</div>